In [35]:
from scipy.sparse.linalg import svds
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
data = pd.read_excel("./printer_data (1).xlsx")
data2 = pd.read_excel("./user_data.xlsx")

In [67]:


df = pd.DataFrame(columns=['근무자수','productid','급지용량','가격'])

for j in range(0,30):
    for i in range(0,5901):
        df = df.append({'productid':i+1, '근무자수':abs(data['근무자수'][i]-data2['근무자 수'][j]), '급지용량':abs(data['기본 급지용량'][i]-data2['용지사용량'][j]), '가격':abs(data['가격'][i]-data2['가격'][j])}, ignore_index=True)
    #printer_sim_df = pd.DataFrame(data=lis)
    temp = df.sort_values(by='근무자수', ascending=False).reset_index(drop=True)['근무자수'][j]
    temp2 = df.sort_values(by='급지용량', ascending=False).reset_index(drop=True)['급지용량'][j]
    temp3 = df.sort_values(by='가격', ascending=False).reset_index(drop=True)['가격'][j]

    df['worker_sim']= (temp - df['근무자수'])/temp
    df['paper']= (temp2 - df['급지용량'])/temp2
    df['price']= (temp3 - df['가격'])/temp3
                                                                                      
                    
    df['avg']=(df['worker_sim']+df['paper']+df['price'])/3
    for i in range (0,5901):
        
        avg_data[j][i] = df['avg'][i]

In [60]:

df.head(5)

  근무자수 productid  급지용량       가격 worker_sim      paper     price
0    2         1   177  6000000    0.97619     0.8603  0.571429
1   62         2  1167  5500000   0.261905  0.0789266  0.607143
2   17         3   407  4900000   0.797619   0.678769      0.65
3   60         4  1077  4711290   0.285714   0.149961  0.663479
4   11         5  1227  4299940   0.869048  0.0315706  0.692861

In [62]:
df['avg']=(df['worker_sim']+df['paper']+df['price'])/3

df.head(4)

  근무자수 productid  급지용량       가격 worker_sim      paper     price       avg
0    2         1   177  6000000    0.97619     0.8603  0.571429   0.80264
1   62         2  1167  5500000   0.261905  0.0789266  0.607143  0.315991
2   17         3   407  4900000   0.797619   0.678769      0.65  0.708796
3   60         4  1077  4711290   0.285714   0.149961  0.663479  0.366385

In [68]:
avg_data.head(5901)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.312505,0.386573,0.440944,0.450468,0.450468,0.504574,0.504574,0.504574,0.504574,0.504574,...,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715
1,0.770432,0.783546,0.793615,0.802345,0.802345,0.811925,0.811925,0.811925,0.811925,0.811925,...,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354
2,0.485988,0.545894,0.581135,0.588912,0.588912,0.632674,0.632674,0.632674,0.632674,0.632674,...,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708
3,0.778514,0.797169,0.805224,0.812703,0.812703,0.82633,0.82633,0.82633,0.82633,0.82633,...,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793
4,0.549088,0.558508,0.621941,0.628766,0.628766,0.635647,0.635647,0.635647,0.635647,0.635647,...,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,0.100608,0.177754,0.234139,0.256361,0.256361,0.312717,0.312717,0.312717,0.312717,0.312717,...,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895
5897,0.257878,0.328867,0.358066,0.380288,0.380288,0.432146,0.432146,0.432146,0.432146,0.432146,...,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065
5898,0.247099,0.299617,0.344926,0.367149,0.367149,0.405513,0.405513,0.405513,0.405513,0.405513,...,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646
5899,0.117468,0.200771,0.249101,0.271323,0.271323,0.332176,0.332176,0.332176,0.332176,0.332176,...,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771
5900,0.130874,0.217255,0.26055,0.282772,0.282772,0.345874,0.345874,0.345874,0.345874,0.345874,...,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111

In [63]:
for i in range (0,5901):
    avg_data[j][i] = df['avg'][i]

In [64]:
avg_data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.312505,0.102073,0.80264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.770432,0.439762,0.315991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.485988,0.277355,0.708796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.778514,0.456988,0.366385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.549088,0.272794,0.53116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN